{
  "extends": ["@segment/eslint-config/browser/legacy", "prettier"],
  "rules": {
    "no-restricted-globals": "off",
    "no-var": "warn",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "strict": "warn"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
