{
  "extends": ["@segment/eslint-config/browser/legacy", "prettier"],
  "rules": {
    "no-restricted-globals": "off",
    "no-var": "error",
    "no-console": "warn"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
