{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "@segment/eslint-config/browser/legacy",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-use-before-define": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "strict": "warn",
    "@typescript-eslint/adjacent-overload-signatures": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-var-requires": "warn"
  }
}
