{
  "log": {
    "_recordingName": "smoke-test-01",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e3e2ac4417d60a5c2fd78f2055b73604",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-14T22:50:50.280Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"http://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"http://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"http://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-6babd6fc5db9c8f1c115437640bb3ac7\",\"anonymousId\":\"f48e853d-726f-4186-b9c9-a7059da213d4\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-14T22:50:50.282Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      },
      {
        "_id": "2ee0b5f4a84d341d8262d1bc0ed0c62b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-14T22:50:50.398Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"http://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-61966e17dc54d86d93e4225765ab5017\",\"anonymousId\":\"f48e853d-726f-4186-b9c9-a7059da213d4\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-14T22:50:50.401Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      },
      {
        "_id": "42cf6cc6292a62035622ea4c5d685046",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-14T22:50:50.528Z\",\"integrations\":{\"Appboy\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"http://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"traits\":{},\"userId\":\"barf\",\"messageId\":\"ajs-6b83cc9f27e90f7327bc2b2b3d98550b\",\"anonymousId\":\"f48e853d-726f-4186-b9c9-a7059da213d4\",\"type\":\"identify\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-14T22:50:50.531Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
