{
  "log": {
    "_recordingName": "cookies-and-local-storage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "202717a71da0dce990beec6f6dc4f611",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-25T21:00:02.346Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-98bde5ff6e37234a5c09cce9e8f732cf\",\"anonymousId\":\"4a4dc2d0-1597-4d57-8a12-0d8fcac981c4\",\"type\":\"page\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"userId\":null,\"sentAt\":\"2020-06-25T21:00:02.348Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "ce9993aa34dc95d1a41ae44ae9b31aab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-25T21:00:02.458Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-9784604e3c0f25fec5501e36ffff71a9\",\"anonymousId\":\"4a4dc2d0-1597-4d57-8a12-0d8fcac981c4\",\"type\":\"track\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"userId\":null,\"sentAt\":\"2020-06-25T21:00:02.460Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "applicat[...]
