{
  "log": {
    "_recordingName": "selective-destination-filtering",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9a620957f84f70155d70ed7f269ef13d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-07-14T00:28:33.860Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-32eeb853c12ae149e2cf8cdf84a3eb0b\",\"anonymousId\":\"b852a967-657f-4012-9669-3bb47025dc95\",\"type\":\"page\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"userId\":null,\"sentAt\":\"2020-07-14T00:28:33.861Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      },
      {
        "_id": "42bf14019607a8affc23a8472c025ebd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-07-14T00:28:33.969Z\",\"integrations\":{\"All\":false,\"Intercom\":true,\"Google Analytics\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"traits\":{\"email\":\"jane.kim@example.com\",\"name\":\"Jane Kim\"},\"userId\":\"user_123\",\"messageId\":\"ajs-3d40712dc0815f0bea09394471b86c81\",\"anonymousId\":\"b852a967-657f-4012-9669-3bb47025dc95\",\"type\":\"identify\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"sentAt\":\"2020-07-14T00:28:33.971Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content[...]
