{
  "log": {
    "_recordingName": "smoke-test-01",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "68ada32b51935cf6f94bbddc34d36144",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T05:51:34.159Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-759b873fd040f2711c5457fbf3b0dc14\",\"anonymousId\":\"4daf9592-943f-437e-a0f8-d3afd139685e\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T05:51:34.162Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      },
      {
        "_id": "3013b1cfb82d15c9cb9452706bcc73f7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T05:51:34.279Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-4e15373e39d05da277a8b5f0cf682c42\",\"anonymousId\":\"4daf9592-943f-437e-a0f8-d3afd139685e\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T05:51:34.282Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83,
      },
      {
        "_id": "40616f4e68447f5ed5a8ed0231bb73a7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T05:51:34.406Z\",\"integrations\":{\"Appboy\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"traits\":{},\"userId\":\"barf\",\"messageId\":\"ajs-bd39ea5e33d5c08437f501726644a661\",\"anonymousId\":\"4daf9592-943f-437e-a0f8-d3afd139685e\",\"type\":\"identify\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T05:51:34.409Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 84,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
