{
  "log": {
    "_recordingName": "smoke-test-01",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6619695cd4f5dc25a3ce531560dedb63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T20:52:25.990Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-7507e678c34e484a4d964f50f58a2a31\",\"anonymousId\":\"48423c14-13f3-46bf-89ba-b5af13c00535\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T20:52:25.992Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "7eefdf78593791e264d74a59bdbbabfc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T20:52:26.102Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-30129c42818c8d9f0d9a9fa416b7f647\",\"anonymousId\":\"48423c14-13f3-46bf-89ba-b5af13c00535\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T20:52:26.105Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85,
      },
      {
        "_id": "480e074bad116160e59a0fc0568df690",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-12T20:52:26.229Z\",\"integrations\":{\"Appboy\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"traits\":{},\"userId\":\"barf\",\"messageId\":\"ajs-05f63d95c627048637c47e00aef15b47\",\"anonymousId\":\"48423c14-13f3-46bf-89ba-b5af13c00535\",\"type\":\"identify\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-12T20:52:26.232Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
