{
  "log": {
    "_recordingName": "traits-cached-and-cleared",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "17ab64886f2a444e708149f7c3e69b27",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-07-14T00:28:35.986Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-1ebed5c9a9d65a36c32be77ff10a7b84\",\"anonymousId\":\"ddd591b2-6b43-43f5-b26a-99d83e9f17d9\",\"type\":\"page\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"userId\":null,\"sentAt\":\"2020-07-14T00:28:35.987Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      },
      {
        "_id": "6abb67c541a1018f44ad13fad4cd4dd4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-07-14T00:28:36.096Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"http://localhost:8000/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\",\"title\":\"AJS tester\",\"url\":\"http://localhost:8000/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=localhost%3A8000\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.5\"},\"campaign\":{}},\"traits\":{\"email\":\"jane.kim@example.com\",\"name\":\"Jane Kim\"},\"userId\":\"user_123\",\"messageId\":\"ajs-d92517e70b58a5cbacb8a6fe9c80a571\",\"anonymousId\":\"ddd591b2-6b43-43f5-b26a-99d83e9f17d9\",\"type\":\"identify\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"sentAt\":\"2020-07-14T00:28:36.097Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content[...]
