{
  "log": {
    "_recordingName": "tapi",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "57af0113f0afac7ec1c84d078c0144a4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-11T21:53:43.040Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-365f0089170912273c83f3bc49520a34\",\"anonymousId\":\"5060b79a-d05f-41d3-99b1-ff3b8a54bc6c\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"sentAt\":\"2020-06-11T21:53:43.042Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 84,
      },
      {
        "_id": "12553f9cd9b161f049d2892401be4aa4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-11T21:53:43.153Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=WJq9vAlUO5l2255jMg7eEthbkDtq1svu&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-03e4465a24ff4e1af13b9579b9e92720\",\"anonymousId\":\"5060b79a-d05f-41d3-99b1-ff3b8a54bc6c\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"WJq9vAlUO5l2255jMg7eEthbkDtq1svu\",\"sentAt\":\"2020-06-11T21:53:43.155Z\",\"_metadata\":{\"bundled\":[\"Segment.io\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "appl[...]
