{
  "log": {
    "_recordingName": "tapi",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a97560d41ab89760df902135fe164f48",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T00:39:02.839Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-c3993fde5bbc22443c5a13180d6ccdd1\",\"anonymousId\":\"967c8e8f-924f-44f9-9c10-197fe77d56c6\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T00:39:02.841Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "e39715517a5ca9bf06fddf690402b574",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T00:39:02.957Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-ddfc8af41b7a744715db8376c737a1a4\",\"anonymousId\":\"967c8e8f-924f-44f9-9c10-197fe77d56c6\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T00:39:02.960Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "878326fc7d75c5f936033df10d86c2d3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T00:39:03.084Z\",\"integrations\":{\"Appboy\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"traits\":{},\"userId\":\"barf\",\"messageId\":\"ajs-87a2fe1564f1fc3263f6ce887c81eb63\",\"anonymousId\":\"967c8e8f-924f-44f9-9c10-197fe77d56c6\",\"type\":\"identify\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T00:39:03.087Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
