{
  "log": {
    "_recordingName": "tapi",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "194f29a2fd4ec7fb0004c10d8f6b6d51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T16:57:12.554Z\",\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"integrations\":{},\"properties\":{\"name\":\"Home\",\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"category\":null,\"name\":\"Home\",\"messageId\":\"ajs-eb8555030008bac17dcc6146da4f990e\",\"anonymousId\":\"934f6d5c-b39f-43f4-a6f4-e3670589eaf3\",\"userId\":\"barf\",\"type\":\"page\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T16:57:12.558Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      },
      {
        "_id": "afe0b2bfcdc66566bcaae4891b8e193f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T16:57:12.673Z\",\"integrations\":{},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"event\":\"Checkout Started\",\"messageId\":\"ajs-ec1ba8229178cd0b153c5c26edd39f34\",\"anonymousId\":\"934f6d5c-b39f-43f4-a6f4-e3670589eaf3\",\"userId\":\"barf\",\"type\":\"track\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T16:57:12.676Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/t"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "00577a221ccdc240a3ae49fdc88d0b19",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"timestamp\":\"2020-06-10T16:57:12.804Z\",\"integrations\":{\"Appboy\":true},\"context\":{\"page\":{\"path\":\"/\",\"referrer\":\"https://www.library-test-site.com/\",\"search\":\"?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\",\"title\":\"AJS tester\",\"url\":\"https://www.library-test-site.com/?writeKey=TEWEu8XrcMVejk8GOulbEx7rHGyuuijV&cdnHost=\"},\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.0 Safari/537.36\",\"locale\":\"en-US\",\"library\":{\"name\":\"analytics.js\",\"version\":\"3.13.3\"},\"campaign\":{}},\"traits\":{},\"userId\":\"barf\",\"messageId\":\"ajs-aa85db3afa24fd62a1e775650d91fb6a\",\"anonymousId\":\"934f6d5c-b39f-43f4-a6f4-e3670589eaf3\",\"type\":\"identify\",\"writeKey\":\"TEWEu8XrcMVejk8GOulbEx7rHGyuuijV\",\"sentAt\":\"2020-06-10T16:57:12.808Z\",\"_metadata\":{\"bundled\":[\"Appboy\",\"Segment.io\",\"Visual Tagger\"],\"unbundled\":[]}}"
          },
          "queryString": [],
          "url": "https://api.segment.io/v1/i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 21,
            "text": "{\n  \"success\": true\n}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
